extends layouts/main

block page_title
  title what???

block content
  div
    h1 Hello, World!
    h2 This page has been viewed #{pageHits} times.
      //- p#cool-section my cool section
    p#cool-section=myCoolMessage
    h2 Made with Jade
  ul
    li
      a(href='http://www.google.com') message
    li
      a another message
