extends layouts/main

block page_title
  title what???

block content
  h1 Hello, World!
  //- p#cool-section my cool section
  p#cool-section=myCoolMessage
  h2 Made with Jade

  ul
    li
      a(href='http://www.google.com') message
    li
      a another message
